body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("./Media/bg-1.jpg");*/
  background-color: #FFFFFF;
  background-repeat: no-repeat, repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
